# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/
.nyc_output/
.temp/
.tmp/
.DS_Store # macOS
.env # Environment variables

# Dependency directories
jspm_packages/
bower_components/

# Production
build/
dist/
public/
out/
esbuild-cache/

# Testing and Coverage
coverage/
.jest/
test/

# Development tools
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.eslintcache

# Logs
logs/
*.log

# Misc
*.swp
*.bak
*.swo

.parcel-cache/

